*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color: hsl(0, 0%, 95%);
}

@media screen and (max-width: 1440px){
	main{
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 60vh;
	position: relative;
	top: 150px;
}

}

@media screen and (max-width: 375px){
	main{
	width: 50%;
	margin: auto;
	display: block;
	justify-content: center;
	align-content: center;
	height: 70vh;
	position: relative;
	top: 100px;
}
}

.sedans{
	background-color:hsl(31, 77%, 52%);
	padding: 2em;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.suvs{
	background-color: hsl(184, 100%, 22%);
	padding: 2em;
}
.luxury{
	background-color: hsl(179, 100%, 13%);
	padding: 2em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
div h3{
	color: hsl(0, 0%, 95%);
	font-family: 'Big Shoulders Display', cursive;
	font-size: 25px;
}
div p{
	color:hsla(0, 0%, 100%, 0.75) ;
	font-family: 'Lexend', sans-serif;
	font-size: 13px;
}
button{
	border: 2px solid white;
	cursor: pointer;
	Font size: 15px;
	border-radius: 15px;
	width: 100px;
	height: 30px;
	background-color: hsl(0, 0%, 95%);
	position: relative;
	left: 30px;
	top: 60px;
}

@media screen and (max-width: 375px){
button{
	justify-content: center;
	align-content: center;
	left: 30px;
	top: 25px;
}
}
.sedans button{
	
	color:hsl(31, 77%, 52%);

	
}
.suvs button{
	
	color:hsl(184, 100%, 22%);
}
.luxury button{
	
	color:hsl(179, 100%, 13%);
}
a{
	position: absolute;
	left:50%;
	top: 10%;

}